<h2>Welcome <%= username %></h2>
<div id="newMessageForm">
	<textarea id="message" placeholder="Enter your message here:"></textarea>
	<button id="postMessageButton">Add Message</button>
</div>
<div id="messagesContainer">
</div>
